$primary: #3292a6;
$primary-overlay: rgba(50, 146, 166, 0.8);

body {
  margin-top: 105px
}

.navbar {
  box-shadow: 2px 2px 5px $primary;
  opacity: 0.9;
  background: #fff;

  .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem;
  }
}

#showcase {
  background: url('../img/mountains.jpg');
  min-height: 600px;
  position: relative;

  .primary-overlay {
    background: $primary-overlay;
    height: 100%;
    left: 0;
    position: absolute;
    // /\ This ensures that child will cover the parent
    top: 0;
    width: 100%
  }
}

.info-header {
  border-bottom: 1px #ddd solid;
  margin: auto;
  width: 50%;
}

#authors {
  img {
    margin-top: -50px;
  }

  .card:hover {
    background: $primary;
    color: #fff;

    .fab {
      color: #fff;
    }
  }

}




@media(max-width: 768px) {

  .first-nav-link a {
    margin-top: 4vh;
  }

  #showcase {
    min-height: 500px;

    h1 {
      font-size: 3.5rem;
      font-weight: 400;
      margin-bottom: 2vh;
    }
    p {
      margin: 0 2vw 2vh;
    }
  }

  .mb-resp {
    margin-bottom: 1rem;
  }
  .mb-resp-l {
    margin-bottom: 3rem;
  }


}

